<!-- views/results.erb -->
<div class="container-fluid">
	<div class=" results">
		<div class="row">
			<div class="container"
				<% @sorted_result.each do |movie| %>
				
				<div class="col-xs-12 col-sm-6 col-md-4 ">
				   	<a href="/movies/<%= movie['imdbID']%>"><%= movie['Title']%> : <%= movie['Year']%></a>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>