<!-- views/results.erb -->
<div class="results" id="active">
<ul>
	<% @sorted_result.each do |movie| %>
	   <li>

	   	<a href="/movies/<%= movie['imdbID']%>"><%= movie['Title']%> : <%= movie['Year']%></a>
	   </li>
	<% end %>
</ul>
</div>