/*  public/stylesheet/stye.css  */

body, html, .container-fluid	{
	height: 100%

}


/*  SEARCH  */
.navbar{
   width: 100%;
   text-align: center;
   float: center;
   background-size: cover;
   background-color: white
}

input[type="text"]  {
  color: gray;
  text-align: left;
  font-size: 55px; 
  padding: 10px;
  border: 0;
  margin-top: 15%;
  margin-left: 5%;
}

input[type="text"]:focus  {
  outline: none;
  color: rgba(100,182,237,1)
}

/*  RESULTS  */
.results	{
  height:100%;
  width: 100%;
  background: rgba(29,54,87,1);
/*	padding: 10px 0px 10px 0px;
  margin: 80px 0px -500px 0px;*/
}

a {
	color: white;
	text-decoration: none;	
}