/*  public/stylesheet/stye.css  */

/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------------------------*/


/*  ALL  */

html{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font
}


/*  SEARCH  */
.navbar-fixed-top {
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  border: 0;
  height: 230px;
}

input[type="text"]  {
  color: gray;
  text-align: left;
  font-size: 2.8em; 
  padding: 10px;
  border: 0;
  margin-top: 100px;
  background-color: rgba(255,255,255,0)
  
}

input[type="text"]:focus  {
  outline: none;
  color: rgba(100,182,237,1)
}

/*Why are these classes not working:*/
#col-big {
  font-size: 3em;
}

#col-small {
  font-size: .5em;
}

/*  RESULTS  */

.results	{
  height: 100%;
  width: 100%;
  padding-top: 230px;
  background: rgba(29,54,87,1);
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}

.display {
	color: white;
	text-decoration: none;	
  font-size: 1em;
  padding: 10px;
}

.result-row  {
  padding-top: 100px
}
.each-movie:hover {
  background-color: rgba(255,255,255,0.3) ;
}

.each-movie {
  max-height: 400px;
  min-height: 400px;
}

